@font-face {
    font-family: germania;
    src: url('font/Germania_One/GermaniaOne-Regular.ttf');
}

body {
    padding: 0;
    margin: 0;
}

#main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    text-align: center;

    height: 100vh;
    width: 100vw;
    

    background-image: url('img/billie-eilish-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
}

#title {
    color: black;
    font-family: germania;
    font-size: 15rem;
    margin: 5px;
}

#text-container {
    height: 10%;
    width: 50%;
}

#text-container > p {
    color: black;
    font-family: germania;
    font-size: 3rem;
    margin: 5px;
}

#link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    width: 40%;
}

.link {
    height: 50px;
    width: 50px;
}
.link:hover {
    filter: brightness(0) saturate(100%) invert(95%) sepia(7%) 
        saturate(882%) hue-rotate(330deg) brightness(98%) contrast(89%);
}