* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3;
}

body {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: blanchedalmond;
}
